* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
  min-width: 100%;
  background-size: 100%;
  background-color: orange;
}

.container > * {
  -webkit-box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 5% 85% 10%;
      grid-template-rows: 5% 85% 10%;
      grid-template-areas: "header" "main" "main" "footer";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: #222222;
  position: fixed;
  width: 100%;
}

header .navegador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navegador_hamburguesa {
  float: center;
  background-color: #222222;
  color: white;
  border: none;
  font-size: 5vh;
  margin-left: 3%;
  cursor: pointer;
}

header .navegador_hamburguesa:hover {
  background-color: #01192b;
  border-radius: 5px;
  color: #9e9c1e;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

header .navegador_menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222525;
  position: fixed;
  margin-top: 3%;
  width: 15%;
  height: 100%;
  right: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow-y: auto;
}

header .navegador_item {
  margin-left: 20%;
  padding: 2%;
}

header .navegador_link {
  color: white;
  font-size: 1.5rem;
}

header .navegador_link:hover {
  background-color: #01192b;
  border-radius: 5px;
  color: #9e9c1e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .navegador_logo {
  width: 15%;
  height: 5vh;
  margin-top: 0.2%;
}

header .navegador_buscador {
  width: 40%;
  height: 4vh;
  margin-top: 0.5%;
  margin-right: 10%;
}

header .navegador_menu_visible {
  right: 85%;
}

header .login_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2%;
}

main {
  text-align: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: main;
  margin: 5% 10% auto 10%;
  background-color: white;
}

main table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

main table thead th:nth-child(1) {
  width: 30%;
}

main table thead th:nth-child(2) {
  width: 20%;
}

main table thead th:nth-child(3) {
  width: 15%;
}

main table thead th:nth-child(4) {
  width: 35%;
}

main table th, main table td {
  padding: 1%;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
  text-align: center;
  background-color: #222222;
  color: white;
  width: 100%;
}

footer a {
  color: orange;
}
/*# sourceMappingURL=main.css.map */