$bg-color-bl: rgb(34,34,34);
$bg-color-wo: rgba(255,255,255,0.7);
$title-font:'Big Shoulders Stencil Display', cursive;
$link-font: 'Alatsi', sans-serif;
$link-size: 1.5rem;
$primary-color: white;
$hover-color: rgb(158, 156, 30);
$title-size: 3em;
$text-size: 1.3em;
$text-size-l: 1em;
$title-size-res: 3em;
$font-size-res: 1.3em;
$box-shadow-col: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
    min-width: 100%;
    background-size: 100%;
}

.container > *{
    box-shadow: $box-shadow-col;
}
.container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 85% 10%;
    grid-template-areas: 
    "header"
    "main"
    "main"
    "footer";
}

header{
    grid-area: header;
    background-color: $bg-color-bl;
    position: fixed;
    width: 100%;
        .navegador{
            display: flex;
            justify-content: space-between;
                &_hamburguesa{
                    float: center;
                    background-color: $bg-color-bl;
                    color: $primary-color;
                    border: none;
                    font-size: 5vh;
                    margin-left: 3%;
                    cursor: pointer;
                        &:hover{
                            background-color: #01192b;
                            border-radius: 5px;
                            color: $hover-color;
                            transition: 0.15s;
                        }
                }
                &_menu{
                    flex-direction: column;
                    align-items: center;
                    background-color: rgb(34, 37, 37);
                    position: fixed;
                    margin-top: 3%;
                    width: 15%;
                    height: 100%;
                    right: 100%;
                    transition: 0.3s;
                    overflow-y: auto;
                }
                
                &_item{
                    margin-left: 20%;
                    padding: 2%;
                }
                &_link{
                    
                    color: $primary-color;
                    font-size:$link-size;                   
                }
                &_link:hover{
                    background-color: #01192b;
                    border-radius: 5px;
                    color: $hover-color;
                    transition: 0.3s;
                }
                &_logo{
                    width: 15%;
                    height: 5vh;
                    margin-top: 0.2%;
                }
                &_buscador{
                    width: 40%;
                    height: 4vh;
                    margin-top: 0.5%;
                    margin-right: 10%;
                }
        }
        .navegador_menu_visible{
            right: 85%;
        }
        .login_input{
            display: flex;
            margin-right: 2%;
        }
}

main{
    text-align: center;
    grid-area: main;
    margin: 5% 10% auto 10%;
    table{
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        thead {      
              th:nth-child(1) {
                width: 30%;
              }
              
              th:nth-child(2) {
                width: 20%;
              }
              
              th:nth-child(3) {
                width: 15%;
              }
              
              th:nth-child(4) {
                width: 35%;
              }
        }
          
          th, td {
            padding: 1%;
          }
        }
}

footer{
    grid-area: footer;
    text-align: center;
}