$bg-color-bl: rgb(34,34,34);
$bg-color-wo: rgba(255,255,255,0.7);
$title-font:'Big Shoulders Stencil Display', cursive;
$primary-color: white;
$hover-color: rgb(158, 156, 30);
$title-size: 3em;
$text-size: 1.3em;
$text-size-l: 1em;
$title-size-res: 3em;
$font-size-res: 1.3em;
$box-shadow-col: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
    min-width: 100%;
    background-size: 100%;
}

.container > *{
    box-shadow: $box-shadow-col;
}
.container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 85% 10%;
    grid-template-areas: 
    "header"
    "main"
    "main"
    "footer";
}

header{
    grid-area: header;
    background-color: $bg-color-bl;
    position: fixed;
    width: 100%;
        .navegador{
            display: flex;
            justify-content: space-between;
                &_hamburguesa{
                    float: center;
                    background-color: $bg-color-bl;
                    color: $primary-color;
                    border: none;
                    font-size: 5vh;
                    margin-left: 5%;
                    cursor: pointer;
                        &:hover{
                            background-color: #01192b;
                            border-radius: 5px;
                            color: $hover-color;
                            transition: 0.15s;
                        }
                }
                &_menu{
                    flex-direction: column;
                    align-items: center;
                    background-color: rgb(34, 37, 37);
                    position: fixed;
                    top: 6.9%;
                    width: 20%;
                    height: 100%;
                    right: 80%;
                    transition: 0.3s;
                    overflow-y: auto;
                }
                &_item{
                    font-size: 6vh;
                    line-height: 10vh;
                    margin: 0 1vw;
                    text-transform: uppercase;
                    width: max-content ;
                }
                &_link{
                    padding: 0.7vw 0.7vh ;
                    color: $primary-color;
                    font-family:$title-font;                   
                }
                &_link:hover{
                    background-color: #01192b;
                    border-radius: 5px;
                    color: $hover-color;
                    transition: 0.3s;
                }
                &_logo{
                    width: 0%;
                    height: 5vh;
                    margin-top: 1%;
                }
                &_buscador{
                    width: 50%;
                    height: 5vh;
                    margin-top: 0.5%;
                }
        }
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
    text-align: center;
}

.navegador_menu_visible{
    right: 50%;
}